.wrapper {
  padding: 16px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  font-size: 30px;
  line-height: 36px;
}

.add-icon {
  font-size: 36px;
  line-height: 40px;
  color: #075985;
}

.books-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0.5rem 0.5rem;
}

.books-table__head {
  border-width: 1px;
  border-color: rgb(71, 85, 105);
  border-radius: 6px;
}

.books-table__categories {
  height: 32px;
}

.books-table__results {
  border-width: 1px;
  border-color: rgb(71, 85, 105);
  border-radius: 6px;
  text-align: center;
}

.books-table__route {
  display: flex;
  justify-content: center;
  column-gap: 16px;
}

.books-table__info-icon {
  font-size: 24px;
  line-height: 32px;
  color: #166534;
}

.books-table__edit-icon {
  font-size: 24px;
  line-height: 32px;
  color: #ca8a04;
}

.books-table__delete-icon {
  font-size: 24px;
  line-height: 32px;
  color: #dc2626;
}

@media (max-width: 768px) {
  .hidden {
    display: none;
  }
}
